# Build directories
build/
cmake-build-*/
out/
bin/
lib/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt

# Compiled files
*.o
*.so
*.a
*.out

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
*.code-workspace

# Logs
*.log

# OS
Thumbs.db
.directory

# Core dumps


# Debugging
.gdb_history


# Python
__pycache__/
*.pyc
*.pyo

# Virtual envs
venv/
backend/venv/
.env/
frontend-ui/node_modules/

gstreamer_worker/face_crops
gstreamer_worker/engine_cache
gstreamer_worker/onnxruntime-linux-x64-gpu-1.20.1.tgz
gstreamer_worker/third_party/onnxruntime

backend/engine_cache
backend/face_crops
backend/logs